.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(32, 25, 87);
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .navList {
    list-style-type: none;
    padding: 0;
  }
  
  .navItem {
    margin-bottom: 15px;
  }
  
  .navLink {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .navLink:hover {
    color: #3498db;
  }
  